#card-div {
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  max-width: 700px;
}

.card {
  display: grid;
  background-color: white;
  margin: 10px;
  align-content: center;
  justify-items: center;
}

.card-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  max-width: 135px;
  transition: 0.2s;
}

.card-img:hover {
   -webkit-filter: brightness(.8);
   filter: brightness(.8);
   cursor: pointer;
   transform: scale(1.05);
   transition: 0.2s;
}
