body {
  font-family: 'Rajdhani', sans-serif;
  background-color: white;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  color: black;
  font-weight: 700;
  font-size: 50px;
  margin: auto;
}

h3 {
  font-weight: 500;
  color: black;
}

#instr {
  font-style: italic; 
}

a {
  text-decoration: None;
  color: black;
  font-size: 30px;
  transition: 0.2s;
}

a:hover {
  font-size: 40px;
  transition: 0.2s;
}

#app-div {
  margin: 20px;
}
